<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <title>Material Design Lite components demo</title>

</head>

<body>
  <html>

  <head>
    <!-- Material Design Lite -->
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/resources/aboutus.css" />
    <style>

    </style>
  </head>

  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">ABOUT US</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href=""></a>
            <a class="mdl-navigation__link" href=""></a>
            <a class="mdl-navigation__link" href=""></a>
            <a class="mdl-navigation__link" href=""></a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"></span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/sign">Sign In/Out</a>
          <a class="mdl-navigation__link" href="/home">Home</a>
          <a class="mdl-navigation__link" href="/hangman">Hangman</a>
          <a class="mdl-navigation__link" href="/highscore">High Scores</a>
          <a class="mdl-navigation__link" href="/aboutus">About Us</a>
        </nav>
      </div>

      
        <div class = "column-left">
                <p>
                  I was part of the graduating class of 2017 from Maine East High School. I will be attending the Tufts University in Medford, Massachussets. I am currently undecided, however, I plan on majoring in computer science with a minor in economics. Some of my
                  hobbies include playing basketball, building things and (now) writing code! My life goal is to have my very own business that produces electronic products and to own a casino.


                </p>

            </div>



            <br/>
            <br/>

            <div class="column-center">
              <p>
                I was part of Maine East High School's graduating class of 2017. I will be attending the University of Illinois at Chicago to study Computer Science and Business. I am really interested in UI so in this project I did alot of the Material Design User Interface.
                I like exploring the city, trying new food, listening to music and running.


              </p>
          </div>


  </body>

  </html>


</body>

</html>
