
<html>
  <head>
    <!-- Material Design Lite -->
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel= "stylesheet" href="/resources/game.css"/>

  </head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Title</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href=""></a>
            <a class="mdl-navigation__link" href=""></a>
            <a class="mdl-navigation__link" href=""></a>
            <a class="mdl-navigation__link" href=""></a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content"><!-- Your content goes here -->


          <div id = "container">
            <p id = "lives"> You have 5 lives left! </p>
            <div id = "letters">
              <p id="demo"></p>
            {% for letter in letters %}
             <button type="button" onclick = "myFunction()" id = "myBtn" value = "{{letter}}"> {{letter}} </button>
             {%endfor%}


             <!-- <button type="button"> B </button>
             <button type="button"> C </button>
             <button type="button"> D </button>
             <button type="button"> E </button>
             <button type="button"> F </button>
             <button type="button"> G </button>
             <button type="button"> H </button>
             <button type="button"> I </button>
             <button type="button"> J </button>
             <button type="button"> K </button>
             <button type="button"> L </button>
             <button type="button"> M </button>
             <button type="button"> N </button>
             <button type="button"> O </button>
             <button type="button"> P </button>
             <button type="button"> Q </button>
             <button type="button"> R </button>
             <button type="button"> S </button>
             <button type="button"> T </button>
             <button type="button"> U </button>
             <button type="button"> V </button>
             <button type="button"> W </button>
             <button type="button"> X </button>
             <button type="button"> Y </button>
             <button type="button"> Z </button> -->
           </br>
           </br>
           </br>
            <button id = "hint" type="button"> HINT </button>
            <button id = "playagain" type = "button"> PLAY AGAIN </button>
          </div>
        </div>





        </div>
      </main>
    </div>
  </body>
</html>
